.mid_top {
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}

.left_img {
  margin-left: auto;
  margin-right: auto;
}

.mid_bottom {
  margin-left: auto;
  margin-right: auto;
}

.right_img {
  margin-left: auto;
  margin-right: auto;
}
